[Desktop Entry]
Categories=System;Applet
Encoding=UTF-8
BinaryPattern=
Name=RDGpiMon
GenericName=Rivendell GPI Monitor
Exec=rdgpimon
Icon=rivendell
TerminalOptions=
Path=
Type=Application
Terminal=0

