[Desktop Entry]
Categories=System;Applet
Encoding=UTF-8
BinaryPattern=
Name=RDSoftKeys
GenericName=Rivendell RML Button Panel
Exec=rdsoftkeys
Icon=rivendell
TerminalOptions=
Path=
Type=Application
Terminal=0

