Source: rivendell
Section: sound
Priority: optional
Maintainer: Alban Peignier <alban.peignier@free.fr>
Build-Depends: debhelper, autoconf, automake1.9, dpatch, libtool, libjack0.100.0-dev, libasound2-dev, libsamplerate0-dev, libvorbis-dev, libtag1-dev, libid3-dev, libflac-dev, libpam0g-dev, libmad0-dev, libqt3-mt-dev, libhpi-dev
Standards-Version: 3.6.1
 
Package: rivendell
Architecture: i386
Depends: ${shlibs:Depends}, bc, cdda2wav, cdparanoia, flac, libqt3-mt-mysql, mpg321, sox (>= 14.0.0), libsox-fmt-all, vorbis-tools, lame, jackd, librivendell (=1.0.1-cvs20081010)
Recommends: logrotate
Description: Rivendell binaries - contains a full set of functionality needed to operate a radio
 automation system, consisting of the following components:
 .
 RDAdmin: a comprehensive application for the administration and configuration
 of Rivendell.
 .
 RDLibrary: the production audio interface.
 .
 RDCatch: the automatic recorder interface.
 .
 RDLogin: a small utility for logging users into and out of the system.
 .
 RDLogEdit: a basic air log creation and editing tool.
 .
 RDLogManager: a utility for the automatic generation of logs, based on 
 templates. It also supports importation of schedule information from a wide
 variety of third-party traffic and music scheduling systems.
 .
 RDAirPlay: the on-air playout application.

Package: librivendell
Architecture: i386
Depends: ${shlibs:Depends}
Description: Rivendell library - C++ runtime library
 Contains a full set of functionality needed to operate a radio
 automation system, consisting of the following components.

Package: librivendell-dev
Architecture: any
Depends: librivendell (= ${Source-Version})
Description: Rivendell library - C++ development library
 Contains a full set of functionality needed to operate a radio
 automation system, consisting of the following components.
