[Desktop Entry]
Encoding=UTF-8
Name=rdcastmanager
Comment=Rivendell Podcast Manager
Exec=rdcastmanager
Terminal=false
Type=Application
Icon=/usr/share/rivendell/rivendell.xpm
Categories=Application;AudioVideo;
